<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5p %c(%L) - %m%n" />
		</Console>
		<RollingFile name="RollingFile"
            fileName="logs/ses-web.log" filePattern="logs/ses-web-%d{yyyy-MM-dd}-%i.log">
           <PatternLayout>
              <Pattern>%d [%t] %-5p %c(%L) - %m%n</Pattern>
           </PatternLayout>
           <Policies>
             <TimeBasedTriggeringPolicy/>         
             <SizeBasedTriggeringPolicy size="50 MB"/>
           </Policies>
          <DefaultRolloverStrategy max="20"/>
        </RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="RollingFile" />
		</Root>
		<logger name="org.apache.zookeeper" level="warn" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </logger>
	</Loggers>
</Configuration>
